@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
}

body{ 
  background: #ffffff;
}

.navbar-brand{
  font-size: 1.6rem !important;
  font-weight: 800;
  color: tomato !important;
}

.navbar-nav{
  margin-left: auto;
}

.navbar a{
  color: #000;
  padding: 6px;
}

.navbar-nav a:hover{
  color: tomato !important;
}

@media (max-width: 768px) {
  .navbar-collapse{
    position: absolute;
    right: 0.2rem;
    top: 3.5rem;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    background: azure;
    width: 30vh;
    z-index: 1;
  }  
  .navbar-toggler{
    border: none !important;
  }
  .navbar-toggler:focus{
    box-shadow: none !important;
    border: 1px solid black !important;
  }
}

.content{
  padding: 20px;
  margin: 0 auto;
  transition: max-width 0.3s ease;
}

/* Home Component style */
.home{
  padding: 20px;
  margin: 0 auto;
}

/* Add button and input term styles */
.add {
  width: 100%;
  margin-top: 1rem;
}

.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;

}

.input-wrapper input {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0rem 0rem 0rem 1.2rem;
  box-shadow: -2px 1px 7px 0px rgba(60, 59, 59, 0.372);
  border: 1px solid #ccc;
  padding-right: 100px; /* space for button */
  box-sizing: border-box;
}

.input-wrapper button:first-of-type {
  position: absolute;
  top: 12px;
  right: 7rem;
  height: 50%;
  padding: 0 5px;
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.input-wrapper button:last-of-type{
  /* position: absolute;
  top: 10px;
  right: 0; */
  height: 100%;
  padding: 0 16px;
  border-radius: 0 1.2rem 1.2rem 0;
  background-color: tomato;
  color: #000;
  border: 1px solid rgb(43, 43, 43);
  box-shadow: -2px 1px 7px 0px rgba(60, 59, 59, 0.372);
  cursor: pointer;
  white-space: nowrap;
}

.input-wrapper button:first-of-type:hover {
  color: #9b9898;
}

.input-wrapper button:last-of-type:hover {
  background-color: rgb(175, 31, 5);
  color: #ffffff;
}

/* List preview styles */
.input-alert{
  margin-left: 2rem;
  color: #58a805;

}

.list-preview,.title,.add{
  display: flex;
  align-items: center;
  padding: 10px 16px;
  margin: 0em 0em 1em 0em;
  border: 1px solid rgb(255, 255, 255);
}

.list-preview:hover{
  box-shadow: -10px 2px 17px -4px rgba(0,0,0,0.75);
  transition: box-shadow .3s ease;
}

.list-preview h2{
  color: tomato;
  justify-content: flex-start;
}

.list-preview p{
  font-size: 1rem;
  color: #313131;
}

/* List-items styles */
.delete {
  margin-left: auto;
}

.delete button{
  padding:12px 8px;
  border-radius: 1.2rem;
  border: 1px solid white;
}

.delete button:hover{
  border: 1px solid rgb(43, 43, 43);
  box-shadow: 1px 8px 7px rgba(60, 59, 59, 0.372);
}

/* Loading text style */
.loading,.error{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.loading h3 {
  position: relative;
  color: white;
  font-weight: bold;
  overflow: hidden;
  background: linear-gradient(90deg, #1e90ff, #cce4fc, #1e90ff);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textglow 2.5s linear infinite;
}

.error h3 {
  position: relative;
  color: white;
  font-weight: bold;
  overflow: hidden;
  filter: brightness(96%) drop-shadow(-4px 10px 163px #000000);
  background: linear-gradient(90deg, #ff1e1e, #131312, #ff1e1e);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textglow 2.5s linear infinite;
}

@keyframes textglow {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

/* traffic light CSS */
.place{
  min-height: 90vh ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 180px;
  background-color: #000;
  border: 1px solid gray;
  border-radius: 12%;
}

.light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #555;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.pole{
  min-height: 40vh;
  padding: 0px 20px;
  background-color: #2a2929;

}

.light.on {
  opacity: 1;
}

.red.on {
  background-color: red;
}

.yellow.on {
  background-color: yellow;
}

.green.on {
  background-color: green;
}

.timer, .redtime, .yellowtime, .greentime{
  display: flex;
  flex-direction: row;
}

.timer input{
  width: 50px;
  text-align: center;
  padding-left: 12px;
}

/* Input text manipulation */
.textbox{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textops{
  display: flex;
  align-items: center;
  justify-content: center;
}

.textops input{
 width: 80vw;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid #000;
}

.textbox .btns{
  width: 80vw;
    display: flex;
    justify-content: center;
}

/* Number */
